
@{
    ViewBag.Title = "Dashboard";
}

@section HeadStyles{

}

@section HeadScripts{
    <script src="~/Scripts/pages/config/routeConfig.js"></script>
    <script src="~/Scripts/libs/angular-thumb.js"></script>
    <script src="~/Scripts/pages/admin/admin.controller.js"></script>
}
<h2>Dashboard</h2>

