@model List<MachineSales.WebUI.Entities.Machine>
@{
    ViewBag.Title = "Sales";
}
<section id="sales">
    <div class="container">

        <div class="row">
            @if (Model.Count == 0 || Model == null)
            {
                <h1>На даний момент техніка на продаж відсутня</h1>
            }
            else
            {
                <div class="row list-group">
                    @foreach (var machine in @Model)
                    {
                        <div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-8 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-4">
                            @Html.Partial("Machine", machine)
                        </div>
                    }
                </div>
            }
        </div>

        @if (ViewBag.allPages > 1)
        {
            <div class="text-center">
                <ul class="pagination pagination-sm">
                    @{ string classSelected = "";}
                    @for (var i = 0; i < ViewBag.allPages; i++)
                    {
                        classSelected = i + 1 == ViewBag.CurrentPage ? "background-color: lightgray" : "";
                        <li><a style="@classSelected" href="@Url.Action("Sales", "Content", new { page = i + 1})">@(i + 1)</a></li>
                    }
                </ul>
            </div>
                        }

    </div>
</section>