@model List<MachineSales.WebUI.Entities.Machine>
@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>

@foreach (var machine in @Model)
{
    <div class="col-xs-12 col-sm-6 col-md-4">
        @Html.Partial("Machine", machine)
    </div>
}

<div class="text-center">
    <ul class="pagination pagination-sm">
        @for (var i = 0; i < ViewBag.allPages; i++)
        {
            <li><a href="@Url.Action("Sales", "Content", new { page = i + 1})">@(i + 1)</a></li>
        }
    </ul>
</div>

